---
- name: Install HAProxy
  apt:
    name: haproxy
    state: present
    update_cache: true
  register: result
  until: result is succeeded
  retries: 10
  delay: 3

- name: Ensure HAProxy is enabled
  service:
    name: haproxy
    enabled: true
